<h1><%= @title %></h1>

<div class="left-sidebar">
  <h2><%= @meetup.name %></h2>
  <div><%= @meetup.location %></div>
  <div><%= @meetup.description %></div>

  <div class="user-buttons">
    <form action="/join" method="POST">
      <input type="submit" name="<%= @meetup.id %>" value="Join this meetup">
    </form>

    <form action="/leave" method="POST">
      <input type="submit" name="<%= @meetup.id %>" value="Leave this meetup">
    </form>
  </div>

  <div class="comments">
    <form action="/comment" method="POST">
      <label
      <input type="text" name="username" id="username" required>
      <input type="text" name="username" id="username" required>
      <input type="text" name="username" id="username" required>
      <input type="submit">
    </form>
  </div>
</div>

<div class="right-sidebar">
  <h2>See if your friends have already joined!</h2>
    <ul>
      <% @meetup.users.each do |user| %>
        <li><img src="<%= user.avatar_url %>" height=40 width=40>
          <a href="/users/<%= user.id %>"><%= user.username %></a></li>
      <% end %>
    </ul>
</div>
